* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

body {
    background-color: ghostwhite;
}

.header {
    background-color: white;
    box-shadow: 0 5px 5px rgb(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100vh;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 15px;
}

.bookCard {
    width: clamp(250px, 20%, 400px);
    max-height:250px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 5px 5px rgb(0,0,0,0.2);
    border-radius: 8px;
    border: 3px solid #f1f1f1;
}

.bookTitle {
    font-weight: 600;
    text-align: center;
    font-size:x-large;
    margin-top: 2px;
    margin-bottom: 4px;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.bookAuthor {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size:larger
}

.bookPages {
    margin-top: 10px;
    margin-bottom: 15px;
}

.bookCard .btn {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    box-shadow: 0 5px 5px rgb(0,0,0,0.16) 0px 1px 4px;
    opacity: 0.8;
}

.book-read {
    color: white;
    background-color: #04AA6D;
}

.book-not-read {
    color: white;
    background-color: red;
}

.readCheck {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=number], 
  .form-container input[type=checkbox] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }

  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover, .bookCard .btn:hover {
    opacity: 1;
  }